{% extends "base.html" %}
{% load static %}
{% block page_content %}
<br><br>
<div class="card" style="margin-left:auto;margin-right:auto; width: 50%">
<table class="table table-borderless">

<form action = "" method="POST" >{% csrf_token %}
<div class="container">
   <tr>
      <td>
         Username:
      </td>
      <td>
         <input type = "text" class="form-control" placeholder = "username" name = "username" />
      </td>
   </tr>
   <tr>
      <td>
         Hashtag:
      </td>
      <td>
         <input type = "text" class="form-control"placeholder = "hashtag" name = "hashtag" />
      </td>
   </tr>
   <tr>
      <td>
         Number:
      </td>
      <td>
         <input type = "text" class="form-control" placeholder = "count" name = "count" />
      </td>
   </tr>
   <tr><td></td><td><button class="btn btn-primary btn-lg" type="submit" value="Fetch">Fetch</button></td>
   </tr>  
</div> 
</form>
</div>
</table>
{% endblock %}